body {
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #ccc;
  font-family: "futura-pt", sans-serif;
}

.content-area-about {
  //background: url('../img/background.jpg') no-repeat center center;
  //background-size: cover;
  height: 100%;
  width: 100%;
  overflow: auto;
}

html.about {
  height: 100%;
}

body.about {
  //background: #000;
  display: flex;
  height: 100%;
}

.photo-of-daniel {
  width: 30%;
  background: url('../img/DanielBachler.jpg') no-repeat bottom center;
  background-size: cover;
}

.page-content {
  overflow: auto;
  width: 100%;
  padding-top: 200px;
}

.site-header{
  display: inline;
  font-family: "Ostrich Sans Inline", sans-serif;
  font-size: 80px;
}

.site-header {
  height: 200px;
  background: inherit;
  width: 100%;
  position: fixed;
  z-index: 10;
}

@include media-query($on-wide-screen) {
  .site-header {
    font-size: 60px;
  }

  .site-header {
    height: 130px;
  }

  .page-content {
    padding-top: 130px;
  }

}

@include media-query($on-laptop) {
  .site-header {
    font-size: 40px;
  }
}

@include media-query($on-palm) {
  .site-header {
    font-size: 30px;
  }

  .site-header {
    height: 80px;
  }

  .page-content {
    padding-top: 80px;
  }

  body {
    font-size: 14px;
  }

  pre, code {
    font-size: 12px;
  }
}

.page-link + .page-link {
  margin-left: 0.4em;
}

p + p {
  margin-top: 0.7em;
}

.site-nav {
  margin-right: 1em;
  float: right;
}


main {
  max-width: 900px;
  margin: auto;
  line-height: 1.6;
}

.author {
  opacity: 0.5;
  font-size: 0.85em;
}

h1 {
  margin-bottom: 0;
}

article + article {
  margin-top: 2.5em;
}

p a {
  border-bottom: thin #666 dotted;
}

.pagination {
  margin-top: 2.5em;
  text-align: center;
}

p img {
  display: block;
  margin: 0 auto;
  height: auto;
}

p + h3, p + h2, p + h4, p + h5 {
  margin-top: 1.5em;
}