---
title: CV
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="page-content">
    <div class="wrapper about-me">
        <div class="about-image"><img src="/img/DanielBachler.jpg"></div>
        <div class="about-text">
            Current	    Developing a slideshow tool for professional photographers. The frontend code is entirely written in Elm, the backend is a serverless architecture using AWS Lambda. Learning Haskell, F# and PureScript
            2008-2015	Lead a team of developers to create Zervice, a software for statistical data analysis, written in C# (more info)
            2006-	    Together with my wife, Teresa, founded the photo studio Iconoclash Photography
            2007-2009	Lead various task groups at the filmschool filmArche to restructure the curriculum, introduce wiki-based workflows. Tought classes on digital asset workflows; colour perception and use of colour in film;
            2006-2009	Studied film directing in Berlin
            2005-2009	Various minor web design, system administration and web programming jobs. Worked with Python, Ruby, Drupal, ...
            2005	    Resettled to Berlin
            2003-2004	Civil service in Austria at the Vienna Red Cross as a software developer. Among other things, created a sophisticated permission system that deals with emergency access to confidential data. A slightly modified version is still in use today. The technology stack was mostly C#, ASP.NET and SQL Server
            2001-2003	Worked for H.T.S. to develop a tool for data cleaning, weighting and data transformation. Designed and implemented a custom DSL that is used directly by the analysts. The tool is still in use today.
            2001-2003	Studied philosophy and journalism at the University of Vienna.
            1996-2001	Attended H.T.L. Spengergasse in Vienna, a kind of High School with a focus on Software Engineering. Was trained in C, C++, IBM Mainframe Assembler, Prolog, Cobol, Java, PL/1 as well as Project Management and Accounting/Controlling. My finals project was a 3D game engine written in C++
            1982	*


    </div>
</div>
</body>

</html>
